#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form input{
  height:30px;
  width:300px;
  padding: 2px;
}
.frame{
  padding: 5px;
  border: 2px solid white;
}